</body>
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div id="about" class="content">
          <!-- <strong xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Bulma</strong> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://jgthms.com" property="cc:attributionName" rel="cc:attributionURL">Jeremy Thomas</a -->
         <!--  <p id="alternative">
            <a href="http://bulma.io/alternative-to-bootstrap/">An alternative to <strong>Bootstrap</strong></a>
          </p> -->

          <div class="twitter-container">
              Would you like a Chrome extension?
              <br> Tweet to author -<a href="https://twitter.com/shubhamkalra27" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">@shubhamkalra27</a>
          </div>

        </div>
      </div>
      <div class="column is-3">
        <div id="share" class="content">
          <div>
              Keep Calm and <strong>Ignore Bait   </strong>
          </div>
      </div>

        <div id="social">
           <iframe src="https://ghbtns.com/github-btn.html?user=shubhamkalra27&repo=clickbait&type=watch&count=false&v=2" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        </div>

      </div>
      <div class="column is-4">
        <div id="sister">
          <p>
            My thanks to:
          </p>
          <ul>
            <li>
                <a href="https://github.com/bhargaviparanjape/clickbait">Data from this paper</a>
            </li>
            <li>
              <a href="https://pythonanywhere.com">
                Hosted on pythonanywhere.com
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</footer>