<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Clickbait Detector!  Test your headline now!  " />
    <meta property="og:description" content="Tired of catchy baity headlines? Get to know if your so called news is just a catchy headline! " />
    <meta name="description" content="Creating attractive but meaning less headlines have been matra of high volume click generating website. Don't fall in trap. Verify your headlines now">

    <title>Test your headline now! </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bulma.min.css') }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110169700-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110169700-1');
</script>



</head>
<body>